<div class="content my-4" role="main">
    <div class="container">
        <ul class="row no-bullets">
            <li class="col-12 col-sm-6 col-lg-3 mb-3" *ngFor="let product of productList">
                <div class="product-item">
                    <a title="{{ product.name }}" href="{{ product.url }}">
                        <div class="row">
                            <div class="col-3">
                                <div class="d-flex align-items-center justify-content-center h-100">
                                    <div class="promo-holder">
                                        {{ product.promotiontext }}
                                    </div> 
                                    <img title="{{ product.name }}" alt="{{ product.productImageAltText }}" width="46" height="26" src="{{ product.productImageUrl }}" class="img-responsive">
                                </div>
                            </div> 
                            <div class="col-9">
                                <div class="py-2">
                                    <h3>{{ product.name }}</h3> 
                                    <p class="price">
                                        <span>{{ product.price.currency }} {{ product.price.formattedValue }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    <div class="col-12">
                        <div class="m-2">
                            <button type="button" (click)="addToCart(product)" class="btn btn-sm btn-danger">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
  